In [14]:
import pandas as pd

In [29]:
movie_conversations = pd.read_csv('C:/Users/Rajdeep/Desktop/data_mining/movie-dialog-corpus/movie_conversations.tsv', sep='\t',
                                 names=["ch_A", "ch_B", "m_id", "lines"])

In [30]:
movie_conversations.head()

  ch_A ch_B m_id                          lines
0   u0   u2   m0  ['L194' 'L195' 'L196' 'L197']
1   u0   u2   m0                ['L198' 'L199']
2   u0   u2   m0  ['L200' 'L201' 'L202' 'L203']
3   u0   u2   m0         ['L204' 'L205' 'L206']
4   u0   u2   m0                ['L207' 'L208']

In [31]:
movie_conversations.columns[0]

'ch_A'

In [48]:
movie_conversations_lines = movie_conversations[movie_conversations.columns[3]]

In [49]:
movie_conversations_lines = pd.DataFrame(data=movie_conversations_lines, columns=["lines"])

In [50]:
type(movie_conversations_lines["lines"].head()[0])

str

In [52]:
movie_conversations_lines.head()

                           lines
0  ['L194' 'L195' 'L196' 'L197']
1                ['L198' 'L199']
2  ['L200' 'L201' 'L202' 'L203']
3         ['L204' 'L205' 'L206']
4                ['L207' 'L208']

In [54]:
movie_conversations_lines["lines"].head()[0]

"['L194' 'L195' 'L196' 'L197']"

### Test parsing the lines into a list

In [56]:
test = movie_conversations_lines["lines"][0].split(" ")

In [57]:
test

["['L194'", "'L195'", "'L196'", "'L197']"]

In [89]:
import numpy as np

In [95]:
new_test = []
for val in test:
    val = val.replace("[", "")
    val = val.replace("]", "")
    val = val.replace("'", "")
    new_test.append(val)

In [97]:
lines_array = np.array(new_test)
lines_array

array(['L194', 'L195', 'L196', 'L197'], dtype='<U4')

### Parsing all movie lines into a list of lines

In [103]:
movie_conversations_lines["lines"].head()

0    ['L194' 'L195' 'L196' 'L197']
1                  ['L198' 'L199']
2    ['L200' 'L201' 'L202' 'L203']
3           ['L204' 'L205' 'L206']
4                  ['L207' 'L208']
Name: lines, dtype: object

In [104]:
temp_tup = []
for tup in movie_conversations_lines["lines"]:
    for val in tup.split(" "):
        val = val.replace("[", "")
        val = val.replace("]", "")
        val = val.replace("'", "")
        temp_tup.append(val)

lines_array = np.array(temp_tup)

In [105]:
lines_array # this array now contains all the line codes

array(['L194', 'L195', 'L196', ..., 'L666520', 'L666521', 'L666522'],
      dtype='<U7')

In [107]:
# lets find out if we have duplicate entries here

In order to inspect whether we have multiple interlocutors in a scene, we need to find out if we have duplicate entries in the `lines_array`. If found out it will confirm that we indeed have more than 2 interlocutors in the scene

In [108]:
len(np.unique(lines_array))

304713

In [109]:
len(lines_array)

304713

Since there are no duplicate lines in the numpy array that we got, it confirms that we do not have more than 2 interlocutors in one scene.