In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
dataset_path = os.path.join(os.path.dirname(os.getcwd()), "datasets", "movie-corpus", "a_b_conversations.tsv")
dataset_pd = pd.read_csv(dataset_path, sep="\t", names=["row", "A", "B"], skiprows=[0])

In [4]:
dataset_pd.head()

,row,A,B
0,0,Can we make this quick? Roxanne Korrine and A...,Well I thought we'd start with pronunciation i...
1,1,Not the hacking and gagging and spitting part....,Okay... then how 'bout we try out some French ...
2,2,You're asking me out. That's so cute. What's ...,Forget it.
3,3,No no it's my fault -- we didn't have a proper...,Cameron.
4,4,The thing is Cameron -- I'm at the mercy of a ...,Seems like she could get a date easy enough...

In [5]:
dataset_pd = dataset_pd.drop(columns=["row"])

In [6]:
dataset_pd.head()

,A,B
0,Can we make this quick? Roxanne Korrine and A...,Well I thought we'd start with pronunciation i...
1,Not the hacking and gagging and spitting part....,Okay... then how 'bout we try out some French ...
2,You're asking me out. That's so cute. What's ...,Forget it.
3,No no it's my fault -- we didn't have a proper...,Cameron.
4,The thing is Cameron -- I'm at the mercy of a ...,Seems like she could get a date easy enough...

In [7]:
for i, row in dataset_pd.head().iterrows():
    row.A = row.A.replace("-", "")
    row.B = row.B.replace("-", "")

In [8]:
dataset_pd.columns

Index(['A', 'B'], dtype='object')

In [14]:
conv_A = dataset_pd.A.tolist()

In [17]:
conv_B = dataset_pd.B.tolist()

In [6]:
subtle_dataset_path = os.path.join(os.path.dirname(os.getcwd()), "datasets", "Subtle_Dataset.txt")
with open(subtle_dataset_path, 'r', encoding='utf-8') as f:
    lines = f.read().split("\n")

In [16]:
glove_3b_embedding_path = os.path.join(os.path.dirname(os.getcwd()), "datasets", "glove.6B", "glove.6B.50d.txt")
embedding_dict = {}
with open(glove_3b_embedding_path, 'r', encoding='utf-8') as f:
    lines = f.read().split("\n")
    for line in lines:
        tokens = line.split(" ")
        embedding_dict[tokens[0]] = []
        for token in tokens[1:]:
            embedding_dict[tokens[0]].append(token)

In [63]:
keys = list(embedding_dict.keys())
"ve" in keys

True

In [1]:
cleaned_dataset_path = os.path.join(os.path.dirname(os.getcwd()), 
                                    "datasets", 
                                    "movie-corpus", 
                                    "a_b_conversations_cleaned.tsv")
dataset_pd.to_csv(path_or_buf=cleaned_dataset_path, sep="\t", index=False, header=False)

NameError: name 'cleaned_dataset_path' is not defined